.banner {
  padding: 28px 20px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $Green;
}

.banner__title {
  font-family: "oswald-regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
