header {
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  padding: 11px 20px 16px 20px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  .st0 {
    fill: #fdc305;
  }

  .st1 {
    fill: #f06351;
  }

  .st2 {
    fill: $Black;
  }
}
