.program__item {
  padding: 22px 20px;
  background-color: $Grey;
}

.program__description {
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  position: relative;
  padding-right: 38px;
  font-family: "oswald-regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: $Black;
  text-transform: uppercase;

  &::after {
    content: " ";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 11px;
    background-image: url("../../img/icon-right-arrow-verylong.svg");
    background-position: -11px center;
    background-repeat: no-repeat;
    transition: 0.5s;
  }

  &:hover {
    &::after {
      content: " ";
      background-position: 0 0;
      transition: 0.5s;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.program__image {
  @include flex-center();
  position: relative;
  width: 50px;
  height: 50px;
  background-color: $Green;
  border-radius: 50%;

  svg {
    position: absolute;
  }
}

.program__image--slim {
  svg {
    width: 35px;
    height: 50px;
  }
}

.program__image--mass svg {
  width: 67px;
  height: 28px;
}
