.show-more__button {
  font-family: "oswald-regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
